
/*-------------------------------------------  general -------------------------------------------------------*/
body{
	font-size: 62.5%;
	font-family: helvetica, arial, sans-serif;
	color:#545257; /*changes color of the whole text*/
	margin-top: 0;
}
#wrapper{
	width:960px;
	margin: 0 auto;
	padding-left: 1%;
	padding-right: 1%;
	-webkit-box-shadow: 0px 0px 5px #ececec;
	-moz-box-shadow:    0px 0px 5px #ececec;
	box-shadow:         0px 0px 5px #ececec;

}
/*-------------------------------------------  header -------------------------------------------------------*/

header{
	border-bottom: 1px solid #bbb8bf; /*changes color of border under project name*/
	color: #09F;
	font-size:1.6em;
	padding-top: 16px;
	text-align:center;
	text-shadow: 0px 0px 0px 5px #ccc;
}
h1{
	margin-top: 0;
	padding-top: 10px;
}
h2{
	margin-top: 20px;
	font-size:2em;
	color: #09F;
}
/*-------------------------------------------  table -------------------------------------------------------*/
table{
	background: #f7f7f9;  /*changes color of the background of the table*/
	border-collapse: collapse;
	width: 100%;
}
tr{
	display: table-row;
}
.odd{
	background: #ececec; /*changes color of the stripes table*/
}
th{
	text-align: left;
	padding: 1em 1em .5em;
	font-weight: bold;
	font-size: 120%;
	color: #FFFFFF;  /*changes color of table hd text*/
	background: linear-gradient(to bottom, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
}
th:first-child{
	/*border-right: 1px solid #6a7680;*/
}
td{
	padding: 1em 1em;
	width: 69%;
}
td:first-child{
	/*border-right: 1px solid #6a7680;*/
}
#left{
	border-radius: 5px 0px 0px 0px;
}
#right{
	border-radius: 0px 5px 0px 0px;
}
/*-------------------------------------------  top section-------------------------------------------------------*/
.main{

	overflow: auto;
	/*border-bottom: 1px solid #bbb8bf;*/
}
.main p{
	width: 67.5%;
	float: left;
	font-size: 1.4em;

}
.main figure{
	float: right;
	margin: 15px 0 20px 0;
	width: 30%;

}
figure img{
	width: 100%;
}
.sec{
	clear: both;
	margin-top: 40px;
	
}

.description{
	padding: 10px;
	padding-top: 12px !important;
	background-color: #DFDFDF;
	border: 1px solid #CCC;
	border-radius: 5px;
}

/*-------------------------------------------  links -------------------------------------------------------*/
a{
	text-decoration: none;
	font-size: 1.3em;
	color: #475a80;  /*changes color of the links*/
}
a:hover{
	text-decoration: underline;
}
/*-------------------------------------------  footer-------------------------------------------------------*/
footer{
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	text-align: center;
	width: 90%;
}
/* ------------------------------------------- Media Queries -------------------------------------------------------*/


	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		#wrapper{
			width:98%;
		}	
	}
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

		#wrapper{
			width:98%;

		}
		.main figure{
			width: 35%;
		}
		.main figure img{
			width: 100%;	
		}
		.main p{
			width: 60%;	
		}
		td{
			width: 50%;
		}
	}



